/ServerChangeTeamEvent.class
/ServerCreateAccountFailEvent.class
/ServerCreateAccountSuccesEvent.class
/ServerCreateQuizFailEvent.class
/ServerCreateQuizSuccesEvent.class
/ServerCreateTeamEvent.class
/ServerEndQuizEvent.class
/ServerEvent.class
/ServerGetQuizzesEvent.class
/ServerJoinQuizEvent.class
/ServerLogInFailEvent.class
/ServerLogInSuccesEvent.class
/ServerNewIPQuestionEvent.class
/ServerNewMCQuestionEvent.class
/ServerNewRoundEvent.class
/ServerNotAllAnsweredEvent.class
/ServerQuizNewPlayerEvent.class
/ServerReturnConnectionIDEvent.class
/ServerScoreboardDataEvent$1.class
/ServerScoreboardDataEvent.class
/ServerSendQuizEvent.class
/ServerStartQuizEvent.class
/ServerStartRoundEvent.class
/ServerVoteAnswerEvent.class
/ServerVoteEvent.class
/ServerDeleteTeamEvent.class
/ServerHostLeavesQuizEvent.class
/ServerPlayerLeavesQuizEvent.class
